@font-face {
  font-family: "BPGArial";
  src: local("BPGArial"), url("../components/fonts/bpg_arial_2009.ttf") format('truetype');
}

@font-face {
  font-family: "BPGMrgvlovani";
  src: local("BPGMrgvlovani"), url("../components/fonts/bpg_nino_mtavruli_normal.ttf") format('truetype');
}

h1 {
  font-family: BPGMrgvlovani, sans-serif;
  position: relative;
  bottom: 4rem;
}

h4 {
  font-family: BPGMrgvlovani, sans-serif;
}

p {
  font-size: 1.1rem;
}