@import "../../variables";

.careerMain {
  @include headerPosition();

  p {
    font-size: $smallFont;
    font-family: BPGArial, sans-serif;

    :hover {
      cursor: pointer;
    }
  }

  span {
    font-size: $smallFont;
  }
}

.careerMgmtTeamMobileHeader{
  h4 {
   font-family: BPGMrgvlovani, sans-serif;
   margin-left: 1rem;
  }
  div {
    position: relative;
    left: 5rem;
  }
}

.ourHrSquadText {
  border-bottom: 2px solid red;
  position: relative;
  bottom: 3rem;
  background: white;
  z-index: 2;

  h5 {
    color: $primary;
    font-family: BPGArial, sans-serif;
  }

  p {
    font-family: BPGArial, sans-serif;
    font-size: $smallFont;
  }
}

.careerMgmtTeam {
  .card {
    width: 18rem;
  }

  .card-title {
    color: $primary;
  }

  h6 {
    font-family: BPGArial, sans-serif;
    font-size: $smallFont;
  }

  p {
    font-size: $smallFont;
    color: white;
    background: $primary;
  }
}

.modal-content {
  input {
    padding: 1rem;
  }

  h5 {
    color: $primary;
  }

  .form-label {
    color: $primary;
    font-family: BPGMrgvlovani, sans-serif;
  }

  .addFile {
    font-size: $smallFont;
    background: white;
  }

  .radioButtons {
    h6, label {
      font-size: $smallFont;
    }
    input {
      padding: 0;
    }
  }
  .submitButton {
    width: 18%;
    button {
      font-size: $smallFont;
    }
  }
}

.formSubmitted {
  h4 {
    font-family: BPGMrgvlovani, sans-serif;
  }
  p {
    font-size: $smallFont;
  }
}

.careerMobile {

  h3 {
    color: white;
    font-family: BPGMrgvlovani, sans-serif;
    position: relative;
    bottom: 3rem;
  }

  h5 {
    font-family: BPGArial, sans-serif;
    color: $primary;
    font-size: 1.4rem;
  }

  p {
    font-size: 0.9rem;
  }

  .accordion {
    position: relative;
    bottom: 3rem;

    h2 {
      font-family: BPGArial, sans-serif;
    }

    .mobileAccordionText {
      font-family: BPGArial, sans-serif;
      font-size: $smallFont;
    }
  }
}

.careerMgmtTeamMobile {

  .card {
    border-radius: 15px;
  }

  .h5 {
    font-family: BPGArial, sans-serif;
    color: $primary;
  }

  p {
    font-size: $smallFont;
  }

  img {
    width: 85%;
    align-self: center;
    border-radius: 15px;
    position: relative;
    bottom: 1rem;
  }
}

.offcanvas-header {
  color: $primary;
  font-family: BPGArial, sans-serif;
}

.careerOffcanvas {
  height: 95% !important;

  p {
    font-size: $smallFont;
  }
}

.mobileFormLabelsFileInput {
  opacity: 0;
}

.mobileFileUploadButton {
  pointer-events: all;
}

.btn-light {
  font-family: BPGArial, sans-serif;
}