@import "../../variables";

.careerMain {
  @include headerPosition();
  p {
    font-size: $smallFont;
    font-family: BPGArial, sans-serif;
    :hover {
      cursor: pointer;
    }
  }
  span {
    font-size: $smallFont;
  }
}

.ourHrSquad {
  border-bottom: 2px solid red;
  position: relative;
  bottom: 3rem;
  background: white;
  z-index: 2;
  h5 {
    color: $primary;
    font-family: BPGArial, sans-serif;
  }
  p {
    font-family: BPGArial, sans-serif;
    font-size: $smallFont;
  }
}