@import "../../variables";

.careerMain {
  @include headerPosition();
  p {
    font-size: $smallFont;
    font-family: BPGArial, sans-serif;
    :hover {
      cursor: pointer;
    }
  }
  span {
    font-size: $smallFont;
  }
}