$primary: #006A9F;

@font-face {
  font-family: 'Mtavruli';
  src: local('Mtavruli'), url("../../components/fonts/bpg_nino_mtavruli_normal.ttf") format('truetype');
}

@font-face {
  font-family: "BPGArial";
  src: local("BPGArial"), url("../../components/fonts/bpg_arial_2009.ttf") format('truetype');
}

span {
  font-family: BPGArial, sans-serif;
}

.contactInfo {
  h2 {
  font-family: Mtavruli, sans-serif;
  color: white;
  position: relative;
  bottom: 4rem;
}
  h5 {
    font-family: BPGArial, sans-serif;
    color: $primary;
  }
}

.addresses {
  margin-left: 2.5rem;
}

.contactUsForm {

}