//@font-face {
//  font-family: 'Mtavruli';
//  src: local('Mtavruli'), url("../../components/fonts/bpg_nino_mtavruli_normal.ttf") format('truetype');
//}
//
//@font-face {
//  font-family: "BPGArial";
//  src: local("BPGArial"), url("../../components/fonts/bpg_arial_2009.ttf") format('truetype');
//}

span {
  font-family: BPGArial, sans-serif;
}

.contactInfo {
  h2 {
  font-family: Mtavruli, sans-serif;
  color: white;
  position: relative;
  bottom: 4rem;
}
  h5 {
    font-family: BPGArial, sans-serif;
    //color: $primary;
    color: blue; //to change
  }
  :first-child h6{
    font-family: Mtavruli, sans-serif;
  }
}

.addresses {
  margin-left: 2.5rem;
  font-size: 0.8rem;
  //color: $secondary;
  color: gray;
}

.contactUsForm {
  position: relative;
  bottom: 8rem;
  z-index: 20;
  width: 30rem;

  span, ::placeholder {
    font-size: 0.8rem;
    color: gray;
  }
  .submitButton {
    //background-color: $primary;
  }
  .form-label {
    //color: $primary;
    font-family: Mtavruli, sans-serif;
    font-size: 0.8rem;
  }
}

