@import "../../variables";

span {
  font-family: BPGArial, sans-serif;
}

.contactInfo {
  h2 {
  font-family: BPGMrgvlovani, sans-serif;
  color: white;
  position: relative;
  bottom: 4rem;
}
  h5 {
    font-family: BPGArial, sans-serif;
    color: $primary;
  }
  :first-child h6{
    font-family: BPGMrgvlovani, sans-serif;
  }
}

.contactUsForm {
  position: relative;
  bottom: 8rem;
  z-index: 2;
  width: 30rem;
  span, ::placeholder {
    font-size: 0.8rem;
    color: gray;
  }
  .submitButton {
    background-color: $primary;
  }
  .form-label {
    color: $primary;
    font-family: Mtavruli, sans-serif;
    font-size: 0.8rem;
  }
  h5 {
    color: $primary;
  }
}

