$primary: #006A9F;
$danger: #EE313C;
$sosOnHover: #ee5f6a;

@mixin overlay() {
  background-color: white;
  font-size: 1rem;
  border-radius: 5px;
  div {
    cursor: pointer;
    &:hover {
      background-color: $danger;
      color: white;
    }
  }
}

.mainNavbarOverlay {
  @include overlay();
  position: absolute;
  top: 1rem !important;
  left: 7rem !important;
  div>img {
    width: 1rem;
    margin-right: 2rem;
    margin-left: 2rem;
  }
}

.rightArrow {
  margin-left: 4rem;
}

.additionalOverlay {
  @include overlay();
  position: absolute;
  top: 1.5rem !important;
}

@font-face {
  font-family: 'ExtraSquare';
  src: local('ExtraSquare'), url("components/fonts/bpg_extrasquare_mtavruli_2009.ttf") format('truetype');
}

@font-face {
  font-family: "BPGArial";
  src: local("BPGArial"), url("components/fonts/bpg_arial_2009.ttf") format('truetype');
}

.sosButton:hover, .sosButton > div > a:hover {
  background-color: $sosOnHover;
  cursor: pointer;
}


.sosButtonOverlay {
  position: absolute;
  right: 5rem;
  top: 10rem;
  background-color: $danger;
  text-align: center;
  font-size: 0.8rem;
  padding: 0.4rem 1rem;
  color: white;
  border-radius: 5px;
  a {
    text-decoration: none;
  }
}

.sosButtonOverlay div:hover {
  cursor: pointer;
  background-color: $sosOnHover;
}

.carousel-indicators {
  border-color: black;
  border-width: 0.4rem;
  border-radius: 50%;
  position: relative;
  right: 30rem;
  height: 3rem;
  width: 3rem;

  button {
    border-width: 0.4rem;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
  }
}

@import "../node_modules/bootstrap/scss/bootstrap";