

$primary: #006A9F;
$danger: #EE313C;
$sosOnHover: #ee5f6a;
$mainNavbarHeight: 7rem;
$bgColor: #F8F8F8;

@font-face {
  font-family: 'ExtraSquare';
  src: local('ExtraSquare'), url("components/fonts/bpg_extrasquare_mtavruli_2009.ttf") format('truetype');
}

@font-face {
  font-family: "BPGArial";
  src: local("BPGArial"), url("components/fonts/bpg_arial_2009.ttf") format('truetype');
}

@mixin overlay() {
  background-color: $bgColor;
  font-size: 1rem;
  border-radius: 5px;
  div {
    cursor: pointer;

    &:hover {
      background-color: $danger;
      color: white;

      .overlayIcons {
        fill: white;
      }
    }
  }
  a {
    margin-left: 1rem;
  }
}

@mixin adjustMainNavbarRightCol() {
  .forBgImage {
    align-items: start !important;
    align-self: start !important;
  }
  .buyOnlineButton {
    position: relative;
    top: 0.5rem;
  }
}

.rightColumnInsideNavbar {
  position: relative;
  top: 1rem;
  @include adjustMainNavbarRightCol();
}

body {
  background-color: $bgColor;
}
.feedbackWrapper {
  position: relative;
  right: 6rem;
}

.feedbackFormLabel {
  color: $primary;
  font-family: ExtraSquare, sans-serif;
  font-size: 1rem;
}

.form-check label {
  color: gray;
}

.callAgentFixed {
  border-radius: 10px 0 0 10px;
  margin-top: 6rem;
  position: fixed;
  font-size: xx-small;
  width: 7rem;
  height: 6rem;
  right: 0;
  z-index: 12;

  div {
    position: relative;
    top: 2.5rem;
    right: 1rem;
  }

  &:hover {
    cursor: pointer;
    width: 7.5rem;
  }
}

.accordion-button {
  color: $primary !important;
}

.overlayIcons {
  margin-left: 2rem;
}

.mainNavbar {
  height: $mainNavbarHeight;
}

.navbarBgColorStriped {
  background-image: url("../public/img/mainNavbarBackground.png");
  height: $mainNavbarHeight+2rem;
}

.navbarBgImageAboutUs {
  background-image: linear-gradient(180deg, rgba(0, 106, 159, 1), rgba(0, 106, 159, 0.5), rgba(0, 106, 159, 1)), url("../public/img/shutterstock_627788162_bg1.png");
  height: $mainNavbarHeight+15rem;
  @include adjustMainNavbarRightCol();
}


.navbarBgImageContactUs {
  background-image: linear-gradient(180deg, rgba(0, 106, 159, 1), rgba(0, 106, 159, 0.5), rgba(0, 106, 159, 1)), url("../public/img/shutterstock_627788162_bg2.png");
  height: $mainNavbarHeight+15rem;
  @include adjustMainNavbarRightCol();
}

.mainNavbarOverlay {
  @include overlay();
  position: absolute;
  top: 0 !important;
  left: 7rem !important;
}

.rightArrow {
  margin-left: 12rem;
}

.additionalOverlay {
  @include overlay();
  position: absolute;
  top: 1rem !important;
}

.burgerButton {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  right: 2rem;
  align-self: center;
}

.sosButton:hover, .sosButton > div > a:hover {
  background-color: $sosOnHover;
  cursor: pointer;
}

.sosButtonOverlay {
  position: absolute;
  right: 5rem;
  top: 10rem;
  background-color: $danger;
  text-align: center;
  font-size: 0.8rem;
  padding: 0.4rem 1rem;
  color: white;
  border-radius: 5px;

  a {
    text-decoration: none;
  }
}

.sosButtonOverlay div:hover {
  cursor: pointer;
  background-color: $sosOnHover;
}

.carouselItem {
  height: 25rem;

  h1 {
    font-family: ExtraSquare, sans-serif;
    position: relative;
    top: 7rem;
  }

  h5 {
    position: relative;
    top: 7rem;
  }

  p {
    z-index: 12;
    position: relative;
    top: 0.5rem;
  }
}

.redImage {
  width: 22rem;
  position: relative;
  top: 7rem;
  z-index: 10;
}

.insuranceCards {
  width: 10rem !important;
  height: 9rem !important;
  font-size: 1rem;
  text-align: center;
  align-items: center;
  margin-right: 0.8rem;
  margin-top: 1rem !important;
  padding-top: 1.5rem;
  position: relative !important;
  bottom: 2rem;
  border-radius: 10px !important;
  box-shadow: 5px 10px 8px #e1e1ea;
  font-family: ExtraSquare, sans-serif;
  img {
    width: 2.5rem;
    padding-bottom: 0.4rem;
  }
}

.advantages {
  width: 10rem !important;
  margin: 1rem;
  padding: 0.7rem;
  font-size: 0.8rem;
  font-family: BPGArial, sans-serif;
  text-align: center;
  border: none !important;
}

.carousel-indicators {
  border-color: black;
  border-width: 0.4rem;
  border-radius: 50%;
  position: relative;
  right: 30rem;
  height: 3rem;
  width: 3rem;

  button {
    border-width: 0.4rem;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
  }
}

.footerDesktop {
  a {
    display: block;
    text-decoration: none;
    margin-top: 1rem;
  }

  .aboutUsLink {
    margin-top: 3rem;
  }

  .copyright {
    margin-top: 3rem;
    font-size: 0.7rem;
  }
}

.sideInfoContainer {
  margin-right: 8rem !important;
  position: relative;
  top: 1.9rem;
}

.info {
  font-size: small;
}

footer {
  font-family: BPGArial, sans-serif;

  a {
    display: block;
    margin-bottom: 0.5rem;
  }

  .copyright {
    font-size: small;
  }
}

.newsDesktop, .newsMobile {
  h2 {
    font-family: ExtraSquare, sans-serif;
    text-align: center;
    margin-top: 3rem;
  }
  .newsDate {
    align-self: start;
    font-size: 0.7rem;
    color: gray;
  }
}

.mobFooterPhoneNumber {
  color: $danger;
  margin-left: 1rem;
  position: relative;
  top: 0.2rem;
  margin-top: 1.5rem;
  font-size: 1.5rem;
  font-family: BPGArial, sans-serif;
}

@import "../node_modules/bootstrap/scss/bootstrap";